{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Major+Mono+Display&family=Mina&display=swap"
        rel="stylesheet">
    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- ===== BOX ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />

    <title>AG responsive complete</title>
</head>

<body>
    <!--===== HEADER =====-->
    <header class="l-header">
            <nav class="nav bd-grid">
                
                <div>
                    <a href="#" class="nav__logo text-danger">{{ home.name }}</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active"><i class="bx bx-home"></i> Home</a></li>
                        {% if user.is_active %}
                        <li class="nav__item"><a href="#streamers" class="nav__link"><i class="bx bx-video"></i> Streamers</a></li>
                        
                        <li class="nav__item"><a href="#teams" class="nav__link"><i class="bx bx-group"></i> Teams</a></li>
                        <li class="nav__item"><a href="#tour" class="nav__link"><i class="bx bx-notepad"></i> Tournaments</a></li>
                        
                        <li class="nav__item"><a href="#videos" class="nav__link"><i class="bx bx-film"></i> Videos</a></li>
                        {% else %}
                        <li class="nav__item"><a href="#about" class="nav__link"><i class="bx bx-question-mark"></i> About</a></li>
                        <li class="nav__item"><a href="#results" class="nav__link"><i class="bx bx-id-card"></i> Our Results</a></li>
                        
                        <li class="nav__item"><a href="#contact" class="nav__link"><i class="bx bx-envelope"></i> Contact</a></li>
                        {% endif %}
                        

                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-droplet bx-flashing'></i>
                </div>
            </nav>
        </header>
<br><br><br>
    

        <body>
{% block content%}



{% endblock %}
</body>

</html>